@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500;1,700&display=swap');

html,
body {
  height: 100%;
  margin: 0;
}

/*add a fade out to the body*/
body {
  font-family: 'Lora', cursive, sans-serif;
  color: rgb(255, 199, 44);
}

#background-img {
  background-image: url("../images/cover.jpeg");
  display: block;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
  transition: background-size 0.3s;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 100%;
  cursor: pointer;
  position: fixed;
}

header {
  position: fixed;
  top: 40px;
  right: 0;
  z-index: 10;
  width: 34%;
  font-style: italic;
  text-align: center;
  background-color: black;
  background-blend-mode: lighten;
  border-radius: 10% 4% 10% 4%;
  height: 40%;  
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

#title {
  margin: 50px auto 0;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 3%;
  font-size: 2.65rem;
  font-weight: 700;
}

.headerIntro {
  font-weight: 500;
  text-align: center;
  margin: 0;
  font-size: .7745rem;
  padding-bottom: 2px;
}

#title,
.headerIntro {
  font-style: italic;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

/*Animation key=frame*/
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.mobile-screen {
  display: none;
}

@media screen and (max-width: 700px){
  header,
  #title,
  .headerIntro {
    max-width: 100%;
  }
  
  

  #title {
    font-size: 1.875rem;
    margin: 0 auto;
  }

  .headerIntro {
    font-size: .875rem;
    margin: 0;
  }


}

@media screen and (max-width: 440px) {
  .mobile-screen {
    display: block;
  }

  .web-screen {
    display: none;
  }

  h1 span.mobile-screen {
    font-size: 2rem;
  }

  p span.mobile-screen {
    font-size: .966rem;
  }
}