@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto:wght@400;500&display=swap');

header,
  #title,
  .headerIntro {
    max-width: 100%;
  }
  
  

  #title {
    font-size: 1.875rem;
    margin: 0 auto;
  }

  .headerIntro {
    font-size: .875rem;
    margin: 0;
  }
