.mobile-screen {
  display: block;
}

.web-screen {
  display: none;
}



header {
  position: static;
  width: 100%;
  margin: 0;
  text-align: center;
  padding: 4px;
}

#title {
  font-size: 2rem;
  width: 100%;
  margin: 0;
  background-color: black;
}

p span.mobile-screen {
  font-size: 1rem;
  width: 100%;
  margin: 0;
}